@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.site-header {
    background-color: #ffffff;
    color: #000;
    padding: 15px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-main {
    text-decoration: none;
}

.navbar-right {
    list-style: none;
    display: flex;
    margin: 0;
}

.navbar-right li {
    margin: 0 15px;
}

/* Footer */
.site-footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

/* Main Container */
.main-container {
    width: 80%;
    margin: 20px auto;
    height: 400px; /* Adjust the height as needed */
    background: linear-gradient(to bottom right, #4CAF50, #FF9800);
    border-radius: 5px;
}

/* Responsive Design */
@media screen and (max-width: 780px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-right {
        margin-top: 10px;
        justify-content: space-around;
        width: 100%;
    }

    .main-container {
        width: 90%;
    }
}
